@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  box-shadow: 5px black;
}

.childContainer{
  width: fit-content;
  height: 250px;
  margin: 40px;
  font-size: 50px;
  font-weight: 900;
}

.profile{
  border-radius: 50%;
}

.greenColour{
  color: rgb(188, 235, 188);
}